<%- include("header"); -%> 


<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Explicabo magnam enim corrupti consequuntur repudiandae molestias hic debitis sed minus cum a culpa, 
    accusamus recusandae provident ea dignissimos velit id itaque.</p>

<%- include("footer"); -%> 
